.Rproj.user
~/README.html
data/*.rds
data/*csv
data/*RData
data/*xlsx
.Renviron
shiny-overview-slides
rsconnect
inst/misc_data/jags_*RData
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
